<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0"
     xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
     xmlns:atom="http://www.w3.org/2005/Atom"
>
  <channel>
    <title>$title$ $if(subtitle)$$subtitle$$endif$</title>
    <atom:link href="http://www.yourwebsite.com/feed/" rel="self"
	       type="application/rss+xml" />
    <link>http://www.yourwebsite.com/</link>
    <description>This is the description of your Feed. 
      Keep it to one or two sentences.
    </description>
    <lastBuildDate>$date$</lastBuildDate>
    <language>en</language>
    <sy:updatePeriod>daily</sy:updatePeriod>
    <sy:updateFrequency>1</sy:updateFrequency>
$for(include-after)$
$include-after$
$endfor$    
  </channel>
</rss>
